# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Libraries that aren't mine
libraries/DS1307RTC/
libraries/Time/
libraries/dev/
libraries/EEPROMEx/
libraries/Chronos/
libraries/Firmata/
libraries/Rtc_by_Makuna/

# Generated battery monitor KiCad files
battery_monitor/hardware/battery_monitor.kicad_sch
battery_monitor/hardware/battery_monitor.kicad_pro
battery_monitor/hardware/BM.kicad_sym
battery_monitor/hardware/sym-lib-table
battery_monitor/hardware/fp-lib-table
